# ===== Flutter/Dart/Pub =====
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub/
.pub-cache/
**/doc/api/
**/ios/Flutter/.last_build_id
/build/

# ===== iOS / CocoaPods =====
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Pods/
ios/Podfile.lock
ios/Runner.xcworkspace/
ios/Runner.xcodeproj/project.xcworkspace/
ios/Runner.xcodeproj/xcuserdata/

# ===== Other platforms (ephemeral) =====
macos/Pods/
linux/flutter/ephemeral/
windows/flutter/ephemeral/

# ===== Xcode general =====
DerivedData/
*.xcuserstate
*.xcuserdatad
*.xcworkspace
*.lock

# ===== IDE =====
.vscode/
.idea/
*.iml

# ===== Misc =====
.DS_Store
*.log
*.class
*.pyc
*.swp
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/
app.*.symbols
app.*.map.json
/android/app/debug
/android/app/profile
/android/app/release
*.zip

# ===== Project-specific =====
Runner.ipa
*.ipa
crashes/
*.ips

# FVM (оставляем только конфиги)
.fvm/
!.fvmrc
!.fvm/fvm_config.json

# iOS build dir
ios/build/

# Android build dirs
android/build/
android/.gradle/
android/.cxx/
.venv/
__pycache__/
ai_inbox/
resp.json
L.jpg
R.jpg
